
<template id="lamp-info">
    <div class="lampBox">
        <h1>
            Hello my name is <span id="name"> </span>
        </h1>
        <p>
            I´m currently turned <span id="status"> </span>
        </p>
    </div>
</template>

<script>

    const template = document.currentScript.ownerDocument.querySelector('template').content; //select this template
    //polyfill: const template = (document.currentScript || document._currentScript).ownerDocument.querySelector('template').content;

    class LampInfo extends HTMLElement {
     // customElements.define(''lamp-info', class extends HTMLElement { ... });

        constructor() {

            super(); //!important

            this.addEventListener('click', e => {
                this.updateAll();
                console.log("clicked");
            });
        }

        get name() { return this.getAttribute('name') }
        set name(txt) {
            this.setAttribute('name', txt);
            this.updateName();
        }

        get on() { return this.hasAttribute('on') }
        set on(bool) {
            if (bool) {
                this.setAttribute('on', '');
            } else {
                this.removeAttribute('on');
            }
            this.updateLight();
        }

        connectedCallback() { //call once it´s in the DOM

            /** setup **/
            this.attachShadow({mode: 'open'}); //outside access=> component
            this.shadowRoot.appendChild(document.importNode(template, true)); //attach to main file


            this.updateAll();
        }

        updateName() {
            this.shadowRoot.querySelector('#name').textContent = this.name;
        }

        updateLight() {

            if ( this.on ) {
                this.shadowRoot.querySelector('#status').textContent = "on";
            }
            else {
                this.shadowRoot.querySelector('#status').textContent = "off";
            }

        }

        updateAll() {
            this.updateName();
            this.updateLight();
        }

        static get observedAttributes() {
            return ['name', 'on'];
        }
        attributeChangedCallback(attrName, oldVal, newVal) {
            console.log("change caught");
        }

    }

    customElements.define('lamp-info', LampInfo);

</script>