
<template id="lamp-info">
    <div class="lampBox">
        <h1>
            Hello my name is <span id="name"> </span>
        </h1>
        <p>
            I´m currently turned <span id="status"> </span>
        </p>
    </div>
</template>

<script>

    const template = document.currentScript.ownerDocument.querySelector('template').content; //select this template
    //polyfill: const template = (document.currentScript || document._currentScript).ownerDocument.querySelector('template').content;

    class LampInfo extends HTMLElement {

        get name() { return this.getAttribute('name') }
        set name(value) { this.setAttribute('name', value) }

        connectedCallback() { //call once it´s in the DOM

            /**
             * setup
             */
            this.attachShadow({mode: 'open'}); //outside access=> component
            this.shadowRoot.appendChild(document.importNode(template, true)); //attach to main file


            this.update();
        }

        update() {
            this.shadowRoot.querySelector('#name').textContent = this.name;
        }
    }

    customElements.define('lamp-info', LampInfo);

</script>