<html>
    <awesome-image></awesome-image>
</html>

<template id="awesome-image">

    <img src="img/pixelheart.jpg" height="200px" width="200px">
    <awesome-text>
        <h1>Heading</h1>
        <p> subheading </p>
    </awesome-text>

</template>


<script>

    let template = document.currentScript.ownerDocument.querySelector('template').content; //select this template
    //polyfill: let template = (document.currentScript || document._currentScript).ownerDocument.querySelector('template').content;
    //currentScript.ownerDocument for import


    class AwesomeImage extends HTMLElement {

        constructor() {
            super(); //!important
        }

        connectedCallback() { //call once it´s in the DOM

            /** setup **/
            this.attachShadow({mode: 'open'}); //outside access=> component
            this.shadowRoot.appendChild(document.importNode(template, true)); //attach to main file
        }

    }

    customElements.define('awesome-image', AwesomeImage); //export name, className

</script>