<html>
    <awesome-image-custom heading="demo" color="red" ></awesome-image-custom>
</html>

<template id="awesome-image-custom">

    <img src="img/pixelheart.jpg" height="200px" width="200px">
    <awesome-text>
        <h1> <span id="heading"></span> </h1>
        <p id="subheading"> subheading </p>
    </awesome-text>

</template>


<script>

    class AwesomeImageCustom extends HTMLElement {

        constructor() {
            super();

            let shadowDom = this.attachShadow({mode: 'open'}); //outside access=> component
            let template = document.currentScript.ownerDocument.getElementById('awesome-image-custom');
            let templateHtml = template.content.cloneNode(true);
            shadowDom.appendChild(templateHtml);
        }

        get heading() { return this.getAttribute('heading') }
        set heading(txt) {
            this.setAttribute('heading', txt);
            this.updateHeading();
        }

        get textColor() { return this.getAttribute('color') }
        set textColor(clr) {
            this.setAttribute('color', clr);
            this.updateTextColor();
        }


        updateHeading() {
            this.shadowRoot.querySelector('#heading').textContent = this.heading;
        }

        updateTextColor() {
            this.shadowRoot.querySelector('#subheading').style.color  = this.textColor;
        }

        connectedCallback() {

            this.updateAll();
        }

        updateAll() {
            this.updateHeading();
            this.updateTextColor();
        };

    }

    customElements.define('awesome-image-custom', AwesomeImageCustom);

</script>