<html>
    <awesome-image></awesome-image>
</html>

<template id="awesome-image">

    <img src="img/pixelheart.jpg" height="200px" width="200px">
    <awesome-text>
        <h1>Heading</h1>
        <p> subheading </p>
    </awesome-text>

</template>


<script>

    class AwesomeImage extends HTMLElement {

        constructor() {
            super(); //!important

            let shadowDom = this.attachShadow({mode: 'open'}); //outside access=> component
            let template = document.currentScript.ownerDocument.getElementById('awesome-image');
            let templateHtml = template.content.cloneNode(true);
            shadowDom.appendChild(templateHtml);
        }
    }

    customElements.define('awesome-image', AwesomeImage); //export name, className

</script>